
nav.menu-nav ul li.btn {
display: inline-block;
list-style-type: none;

}



nav.menu-nav ul li.btn a {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:8px;
	border:2px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:6px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
	
nav.menu-nav ul li.btn:hover a {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
body {
background-color: #2F53A2;
}
h2.head {
	color : #ffffff;
	background-color: #000000;
}
